@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-lg-4 order-3 order-lg-1">
            <div class="list-group">
                <p class="h3">Угрозы</p>
                <a href="#" class="list-group-item list-group-item-action">1. Террористичекие атаки</a>
                <a href="#" class="list-group-item list-group-item-action">2. Агрессивная политика</a>
                <a href="#" class="list-group-item list-group-item-action">3. Кибератаки на систему информационной безопасности</a>
                <a href="#" class="list-group-item list-group-item-action">4. Приток мигрантов</a>
                <a href="#" class="list-group-item list-group-item-action">5. Рост националистичеко настроенных организаций</a>
                <a href="#" class="list-group-item list-group-item-action">6. Гонка вооружений</a>
                <a href="#" class="list-group-item list-group-item-action">7. Внешние факторы угрожающие энергетической независимости</a>
                <a href="#" class="list-group-item list-group-item-action">8. Изменения климата</a>
                <a href="#" class="list-group-item list-group-item-action">9. Угроза эпидемий</a>
                <a href="#" class="list-group-item list-group-item-action">10. Рост поддержки терроризма со стороны мусульманских стран</a>
                
            </div>            
        </div>
        <div class="col-lg-8 order-3 order-lg-1">
            <img src="~/images/area-map-of-Germany.png" class=" img-fluid" alt="Responsive image">
        </div>        
    </div>    
</div>

